---
layout: default
---

<article class="post container">
  <div class="post-meta">
    <span class="post-meta-span date">{{ page.date | date:"%Y %B %d" }}</span>
    {% if page.tags.size > 0 %}
    <span class="post-meta-span tag">{{ page.tags | join: ', ' }}</span>
    {% endif %}
  </div>

  <h1 class="post-title">{{ page.title }}</h1>

  <div>
    {% for book in page.books %}
    <div style="border:0px solid #d9d9d9; -webkit-box-shadow:2px 2px 5px #d9d9d9; padding: 10px; background-color: #fff">
      <div style="padding: .4em .6em .4em;font-weight: bold;line-height: 1;color: inherit;text-align: center;white-space: nowrap;vertical-align: baseline;background-color: #fff"> {{ book.title }} </div>
      <hr style="border : 1px dashed #d9d9d9;" />
      <table width="100%">
        <tbody>
          <td rowspan="6" width=1><img src="{{ book.cover }}"></td>
          <tr><td align="right" style="width:80px; color:#666">作者：</td><td style="table-layout:fixed">{{ book.author }}</td></tr>
          <tr><td align="right" style="color:#666">出版：</td><td>{{ book.publisher }}</td></tr>
          <tr><td align="right" style="color:#666">语言：</td><td>{{ book.language }}</td></tr>
          <tr>
            <td align="right" style="color:#666">链接：</td><td>
            <a href="{{ book.link }}" title="{{ book.link }}" target="_blank" style="color: #29A284;">图书链接</a>
          </td></tr>
          <tr>
            <td align="right" style="color:#666">状态：</td>
            <td style="display: inline;padding: .2em .6em .3em;font-size: 75%;font-weight: bold;line-height: 1;color: #fff;text-align: center;white-space: nowrap;vertical-align: baseline;border-radius: .25em;
            {% if book.status == '已读' %}
              background-color: #5cb85c;
            {% elsif book.status == '在读' %}
              background-color: #5bc0de;
            {% elsif book.status == '未读' %}
              background-color: #777;
            {% endif %}">
            {{ book.status }}
            </td>
          </tr>
          <tr><td colspan="3"><span style="color:#666">评论：</span>{{ book.description }}</td></tr>
        </tbody>
      </table>
    </div>
    <br/>
    {% endfor %}
  </div>
</article>
<br />

<div class="post-share">
  <div class="container">
    <a href="https://twitter.com/share?url={{ page.url | prepend: site.baseurl | prepend: site.url }}&text={{ page.title }}" target="_blank" class="post-share-icon twitter"></a>
    <a href="https://www.evernote.com/clip.action?url={{ page.url | prepend: site.baseurl | prepend: site.url }}&title={{ page.title }}" target="_blank" class="post-share-icon evernote"></a>
    <a href="http://service.weibo.com/share/share.php?url={{ page.url | prepend: site.baseurl | prepend: site.url }}&title={{ page.title }}" target="_blank" class="post-share-icon weibo"></a>
  </div>
</div>

{% if site.disqus_shortname %}
<div class="comment container">
  <div id="disqus_thread">
    <a href=""></a>
  </div>
</div>
{% endif %}
