---
layout: default
---

<div class="article-list">
	{{ content }}
</div>

<aside class="aside">
	<div>
		<h3>分类</h3>
		<ul>
			{% for category in site.categories %}
			<li><a href="/category.html#{{category[0]}}">{{category[0]}} ({{category[1] | size}})</a></li>
			{% endfor %}
		</ul>
	</div>
	<div>
		<h3>友链</h3>
		<ul>
			<li><a href="http://www.ssduter.com/" target="_blank">软院人</a></li>
			<li><a href="http://www.beannote.com/" target="_blank">Beannote</a></li>
			<li><a href="http://coolshell.cn/" target="_blank">酷壳</a></li>
			<li><a href="http://www.clarkchen.com/" target="_blank">ClarkChen</a></li>
			<li><a href="http://lendfating.blog.163.com/" target="_blank">Lendfating</a></li>
		</ul>
	</div>
	<div>
		<h3>新浪微博</h3>
			<ul>
				<iframe width="100%" height="550" class="share_self"  frameborder="0" scrolling="no" src="http://widget.weibo.com/weiboshow/index.php?language=&width=0&height=550&fansRow=2&ptype=1&speed=0&skin=5&isTitle=0&noborder=0&isWeibo=0&isFans=0&uid=2509911980&verifier=70a007d1&colors=ffffff,ffffff,666666,0082cb,ecfbfd&dpc=1"></iframe>
			</ul>
	</div>
</aside>
