---
layout: default
---

<div class="article-list">
	{{ content }}
</div>

<aside class="aside">
	<div>
		<h3>分类</h3>
		<ul>
			{% for category in site.categories %}
			<li><a href="/category.html#{{category[0]}}">{{category[0]}} ({{category[1] | size}})</a></li>
			{% endfor %}
		</ul>
	</div>
	<div>
		<h3>友链</h3>
		<ul>
			<li><a href="http://www.ssduter.com/" target="_blank">大连理工大学软件学院 软院人系统</a></li>
			<!--<li><a href="http://www.cn-cuckoo.com/2010/10/21/the-design-of-html5-2151.html" target="_blank">HTML5 设计原理</a></li>-->
		</ul>
	</div>
	<div>
		<h3>新浪微博</h3>
		<ul>
			<iframe width="100%" height="550" class="share_self"  frameborder="0" scrolling="no" src="http://widget.weibo.com/weiboshow/index.php?language=&width=0&height=550&fansRow=2&ptype=1&speed=0&skin=5&isTitle=0&noborder=0&isWeibo=0&isFans=1&uid=2509911980&verifier=70a007d1&colors=ffffff,ffffff,666666,0082cb,ecfbfd&dpc=1"></iframe>
		</ul>
	</div>
</aside>
